@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@media print {
  @page {
    size: 8.5in 11in;
    margin: 0;
  }
  
  .print\:hidden {
    display: none !important;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
